body { background-color: snow; color: black; }
a:link { background-color: snow; color: blue; }
a:visited { background-color: snow; color: magenta; }
a:hover { background-color: snow; color: red; }
a:active { background-color: snow; color: green; }
.minor { font-size: smaller; }
.valuedata { text-align: right; }
.timedata { text-align: center; }

div.timeinfo {}
div.updatelinks { margin-top: 2em; margin-bottom: 2em; font-size: 133%; }
div.nav {}
div.itemdata { margin-top: 2em; margin-bottom: 2em; }
div.flowerchart { margin-left: 4em; }
div.footer { margin-top: 2em; }

tr.default { background-color: snow; color: black; }
tr.drug { background-color: yellow; color: black; }
tr.flower { background-color: lightgreen; color: black; }
tr.plushie { background-color: pink; color: black; }
tr.alcohol { background-color: lightcyan; color: black; }
tr.misc { background-color: silver; color: black; }

div.drugnav { margin-bottom: 2em; }
div.drugdata {}
div.drugdata tr.oddrow { background-color: silver; color: black; }
div.drugdata tr.evenrow { background-color: gainsboro; color: black; }

div.updatenav {}
div.updateform {}

div.mantitle {}
div.mannav {}
div.manform {}

@media all and (max-width: 1024px) { body { font-size: 120% !important; } }
@media all and (max-width: 480px) { body { font-size: 130% !important; }  }
